@import '../../../../colors.less';

header {
    padding: 12px;
    margin-bottom: 32px;
    background-color: @neutral-3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 

    h2 {
        font-size: 32px;
        color: @neutral-7;
    }
}

//The login "window" at the center of the page
.panel {
    margin-top: 10%;
    background-color: @neutral-1;
    border-radius: 4px;
    padding-bottom: 8px;
}