@import '../../../../colors.less';
@import '../../components/nav-bar/nav-bar.component.less';

//Background image, and the gray shade that appears over the background.
.container-fluid {
    background-image: url("../../../../assets/login-background.jpg");
    background-size: cover;
    height: calc(100% - @nav-bar-height); 

    .background-shade {
        background-color: #505050ef;
        height: 100%;
    }
}

//The login "window" at the center of the page
.main {
    margin-top: 10%;
    background-color: @neutral-1;
    border-radius: 4px;
    padding: 0px;

    header {
        padding: 12px;
        margin-bottom: 32px;
        background-color: @neutral-3;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; 

        h2 {
            font-size: 32px;
            color: @neutral-7;
        }
    }

    form {
        width: 320px;
        margin: 16px auto;

        input[type=email], input[type=password] {
            font-size: 18px;
            width: 320px;
            margin: 8px 0px;
            padding: 0px 4px;
    
            background-color: @neutral-1;
            color: @neutral-9;
            border: 1px solid @neutral-3;
            border-radius: 4px;
            height: 40px;
        }

        .remember-me-checkbox {
            margin-top: 48px;
            color: @neutral-9;
        }

        .login-button {
            width: 320px;
        }
    }
}