<nav-bar></nav-bar>

<div class="container-fluid">
    <div class="background-shade">

        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-4 main">
                <header>
                    <h2 class="text-center">Welcome Back</h2>
                </header>

                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                    <input type="email" placeholder="Email" formControlName="email" />

                    <input type="password" placeholder="Password" formControlName="password" />

                    <a class="mb-5" style="display: block;" >I forgot my password</a>

                    <ui-checkbox label="Remember Me" formControlName="rememberMe"></ui-checkbox>

                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>