<div class="nav-bar row">
  <!-- Icon and Name -->
  <div class="logo col-lg-3">
    <img src="assets/icon.png">
    <h1>Unboard</h1>
  </div>

  <div class="col-lg-5">
    &nbsp;
  </div>

  <!-- Hot Links -->
  <div class="col-lg-2">
    <a class="link right">Pricing</a>

    <a class="link right">Features</a>
  </div>

  <!-- Buttons -->
  <div class="col-lg-2">
    <div class="button">
      <a>Log In</a>
    </div>
    <div class="button important-button">
      <a>Sign Up</a>
    </div>
  </div>
</div>