@import '../../../../colors.less';

@nav-bar-height: 96px;

.nav-bar {
    color: @neutral-1;
    background-color: @primary-3;
    height: @nav-bar-height;
    line-height: @nav-bar-height;

    a {
        text-decoration: none;
        color: @neutral-1;
    }

    .logo {
        margin: 12px 0px;

        img {
            height: 48px;
            display: inline-block;
            padding-right: 12px;
        }
    
        h1 {
            font-weight: bold;
            font-size: 38px;
            display: inline-block;
        }
    }

    .link {
        padding: 0px 16px;
        font-size: 20px;

        &:hover {
            color: @neutral-2;
            text-decoration: underline;
            cursor: pointer;
        }

        &:active {
            color: @neutral-3;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
