<div class="nav-bar container-fluid">
  <div class="row">
    <!-- Icon and Name -->
    <div class="logo col-sm-4 col-lg-3">
      <a routerLink="/">
        <img src="assets/icon.png">
        <h1>Unboard</h1>
      </a>
    </div>

    <!-- Hot Links -->
    <div class="col-sm-8 offset-lg-3 col-lg-6 text-right">
      <a class="link">Features</a>
      <a class="link">Pricing</a>

      <a class="button" routerLink="/login">Log In</a>
      <a class="button important-button" routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>