//Built Using:
//https://materialuicolors.co/
//https://refactoringui.com/previews/building-your-color-palette/
//https://coolors.co
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=03A9F4&secondary.color=FF9800

//Primary Color
@primary-1: #6ab7ff;
@primary-2: #57a3e5;
@primary-3: #3493e5;
@primary-4: #1e88e5;
@primary-5: #1b7fd6;
@primary-6: #166cbc;
@primary-7: #005cb2;

//Grays
@neutral-1: #f9f9f9;
@neutral-2: #d1d1d1;
@neutral-3: #adadad;
@neutral-4: #7f7f7f;
@neutral-5: #656565;
@neutral-6: #4c4c4c;
@neutral-7: #302f2f;
@neutral-8: #262424;
@neutral-9: #111010;

//Accent Colors
@accent-1: #5cd6c5;
@accent-2: #2ecab5;
@accent-3: #00bfa5;
@accent-4: #0ab19b;
@accent-5: #09a590;

//Success Colors
@success-1: #5cdc91;
@success-2: #2ed272;
@success-3: #00c853;
@success-4: #00a444;
@success-5: #008035;

//Alert Colors
@alert-1: #ffd445;
@alert-2: #ffc917;
@alert-3: #FFC400; //Amber A700
@alert-4: #e8b300;
@alert-5: #ba8f00;

//Error Colors
@error-1: #e45c5c;
@error-2: #dc2e2e;
@error-3: #d50000;
@error-4: #af0000;
@error-5: #880000;