//Built Using:
//https://materialuicolors.co/
//https://refactoringui.com/previews/building-your-color-palette/
//https://coolors.co

//Primary Color
@primary-1: #6fb3ee;
@primary-2: #469de9;
@primary-3: #1E88E5;
@primary-4: #1970bc;
@primary-5: #145792;
@primary-6: #114878;
@primary-7: #0d385d;

//Accent Colors
@accent-1: #5cd6c5;
@accent-2: #2ecab5;
@accent-3: #00bfa5;
@accent-4: #0ab19b;
@accent-5: #09a590;

//Whites
@white-1: #fcfcfc;
@white-2: #f8f8f8;
@white-3: #F5F5F5;

//Grays
@neutral-1: #c1c1c1;
@neutral-2: #afafaf;
@neutral-3: #9e9e9e;
@neutral-4: #828282;
@neutral-5: #656565;

//Success Colors
@success-1: #5cdc91;
@success-2: #2ed272;
@success-3: #00c853;
@success-4: #00a444;
@success-5: #008035;

//Alert Colors
@alert-1: #ffd445;
@alert-2: #ffc917;
@alert-3: #FFC400; //Amber A700
@alert-4: #e8b300;
@alert-5: #ba8f00;

//Error Colors
@error-1: #e45c5c;
@error-2: #dc2e2e;
@error-3: #d50000;
@error-4: #af0000;
@error-5: #880000;